<% if @product.suggestions.size>0 %>
  <div class="taxon">
    <%= product_h2_title(t('suggestions').mb_chars.upcase) %>
    <%= render :partial => "/shared/products.html.erb", :locals => {:products => @product.suggestions,:taxon=>nil } %>
    <div class="fx-clear"></div>
  </div>
<% end %>